/*** Overall MovingBoxes Slider ***/
.slider {
  width: 900px; /* default, this is overridden by script settings */
  border: 5px solid #ccc;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
}

.scrollContainer, .scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* active slider border highlight */
.active-slider {
  border-color: #999bff;
}

/*** Slider panel ***/
.slider div.panel {
  width: 350px;  /* default, this is overridden by script settings */
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
  float: left;
}
.slider div.panel.current {
 cursor: auto;
}

/*** Inside the panel ***/
.inside {
  padding: 10px;
  border: 1px solid #999;
}

.inside img {
  display: block;
  border: 1px solid #666;
  margin: 0 0 10px 0;
  width: 100%;
}

.inside h2 {
  font-weight: normal;
  color: #000;
  font-size: 20px;
  margin: 0 0 8px 0;
}

.inside p {
  font-size: 15px;
  color: #444;
}

.inside a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

.inside a:hover {
  border-bottom: 1px solid #999;
}

/*** Left & Right Navigation Arrows ***/
a.scrollButtons {
  display: block;
  width: 45px;
  height: 58px;
  background: transparent url(../images/arrows.png) no-repeat;
  position: absolute;
  top: 40%; /* if you change the arrow images, you may have to adjust this (distance from top) */
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
}
a.scrollButtons.left {
  background-position: left top;
  left: -45px;
}
a.scrollButtons.right {
  background-position: right top;
  right: -45px;
}
a.scrollButtons.left:hover {
  background-position: left bottom;
}
a.scrollButtons.right:hover {
  background-position: right bottom;
}

/*** Controls added below the panels ***/
.controls {
  margin: 0 auto;
  text-align: center;
  background: #ccc;
}
.controls a {
  color: #444;
  font: 12px Georgia, Serif;
  display: inline-block;
  text-decoration: none;
  padding: 2px;
  height: 18px;
  margin: 0 5px 0 0;
  text-align: center;
  outline: 0;
}
.controls a.current, .controls a:hover {
  color: #fff;
}
.active-slider .controls {
  background: #999bff;
}